
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    
    color: aliceblue;
    background: linear-gradient(180deg,#000000,#0d0321,#0b011c,#0b011c,#4e0202);

    /* background-image: url("../Media/download.jfif"); */
    /* background: linear-gradient(0deg,#030657,#01021c,#000000); */
}



.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px); 
    padding: 20px;
}


main {
    background-color: #000000;
    color: aliceblue;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px; 
    text-align: center;
}

h1 {
    margin-top: 0;
}

h2 {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

