body {
    
    /* background-color: #000000; */
    /* background: url("https://images.pexels.com/photos/3721941/pexels-photo-3721941.jpeg?cs=srgb&dl=pexels-daniel-reche-718241-3721941.jpg&fm=jpg"); */
    /* background-size:cover ; */
    /* background-image: url("../Media/download.jfif"); */

    background: linear-gradient(180deg,#000000,#0d0321,#0b011c,#0b011c,#4e0202);
    background-attachment: fixed;
    color: aliceblue;
    
    height: 100vh;
    margin: 0;
}
main{
    opacity: 0.7;
    min-height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    background-color: #000000;
    color: aliceblue;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2,h1 {
    text-align: center;
    color: #fffefe;
}

.form  label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
}

.form input,select {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: rgb(78, 70, 70);
    color: aliceblue;
}

.form button{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.form button[type="submit"]:hover {
    background-color: #45a049;
}

